{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load censor_filter %}
{% block title %} Delete chosen post {% endblock title %}

{% block content %}
<br><h3>
<a href="/news">{{ string }} {% trans "На главную" %} &#128073;</a>
</h3><br>
<h2>{{ string }} {% trans "Вы действительно хотите удалить этот пост?" %}</h2>

<table>
    <tr align="left">
        <th> {{ string }} {% trans "Автор:" %}</th>
        <th> {{ string }} {% trans "Заголовок:" %}</th>
        <th> {{ string }} {% trans "Краткое содержание:" %}</th>
        <th> {{ string }} {% trans "Дата публикации:" %}</th>
        <th> {{ string }} {% trans "Рэйтинг:" %}</th>
    </tr>
    <tr>
        <td width="200">{{post.author}}</td>
        <td width="300">{{post.title|censor}}</td>
        <td width="500">{{post.text|censor|truncatewords:20}}</td>
        <td width="200">{{post.post_time}}</td>
        <td width="50" align="center">{{post.rating}}</td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Confirm"></form>
{% endblock content %}
