{% extends 'flatpages/default.html' %}
<b style="color:#ff0099; font-size:30px"> Page "Posts"</b>
{% load censor_filter %}

{% block title %}
Posts
{% endblock title %}
{% block content %}
<h2>Все статьи</h2>    <a href="/search/">Найти публикацию 	&#128073; </a>
<br>
{% if not is_paginated %}
<br>
<a href="one_by_one/"> Постраничный вывод статей 	&#128073;</a>
{% else %}
<br>
    <a href="/news">На главную 	&#128073;</a>
{% endif %}

<!--Запрос на метод сортировки-->


<h2>Всего новостей {{ posts_quantity }} или... да, так и есть: {{posts|length}},
    на сегодняшнее число: {{ time_now|date:'d M Y' }} </h2>

<!--<h2>{{ time_now|date:'M d Y' }}</h2>-->
<hr>
{% if posts %}
<table>
    <tr align="left">
        <th> Автор:</th>
        <th> Заголовок:</th>
        <th> Краткое содержание:</th>
        <th> Дата публикации:</th>
        <th> Рэйтинг:</th>

    </tr>

    {% for item in posts %}
    <tr>
        <td width="200">{{item.author}}</td>
        <td width="300">{{item.title|censor}}</td>
        <td width="500">{{item.text|censor|truncatewords:20}}</td>
        <td width="200">{{item.post_time}}</td>
        <td width="50" align="center">{{item.rating}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Сегодня без новостей :(</h2>
{% endif %}

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">&#9194;</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}            <a href="?page={{ num }}">{{ num }}</a>        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">	&#9193;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
{% endblock content %}

<!--Про тэги
     http://htmlbook.ru/html/table -->

