<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<b style="color:#ff0099; font-size:30px"> Page "Post"</b>
{% load censor_filter %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h3>
    <br>
    <a href="/news">На главную &#128073;</a>
    <pre></pre>
    <a href="/search/">Найти публикацию &#128073;</a>
</h3>
<h1> {{ post.title|censor }}, автор: {{post.author}}, опубликовано {{post.post_time}}</h1>
<h3>Содержание: {{ post.text|censor }}</h3>
<hr>
<br>
        <h3 align="center"> <a href="{% url 'update' post.id %}"><u> Редактировать &#128260;</u></a></h3>
        <h3 align="center"><a href="{% url 'delete' post.id %}"><u> Удалить &#128683; </u></a></h3>

{% endblock content %}