SECRET_KEY = 'XXXXXXXXXXXXXXXXXX'


EMAIL_HOST = 'smtp.mail.ru'
EMAIL_PORT = 465
EMAIL_HOST_USER = 'XXXXXXXXXXXXXX@inbox.ru'
EMAIL_HOST_PASSWORD = 'XXXXXXXXX'
DEFAULT_FROM_EMAIL = 'XXXXXXXXXXXX@inbox.ru'
EMAIL_USE_TLS = False
EMAIL_USE_SSL = True